@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .header-logo {
        margin-right: 120px;
    }

    .header-menu {
        display: flex;
        gap: 40px;
    }

    .header-menu-link {
        color: var(--accent-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        /* 24/16 */
        letter-spacing: 0.02em;
        /* 0.32/16 */
       
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-menu-link:is(:hover, :focus) {
        color: #404BBF;
    }

    .current {
        position: relative;
        color: #404BBF;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .current::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--ocean, #404BBF);
        bottom: -28px;
    }

    .header-address {
        font-style: normal;

    }

    .header-address-list {
        /*display: flex;*/
        display: block;
        margin-left: auto;
        gap: 40px;
        margin-left: auto;
        color: var(--second-text-color);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        /* 24/16 */
        letter-spacing: 0.02em;
    }

.header-address-item{
    margin-bottom: 12px;
}

    .header-address-link {
        color: var(--second-text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-address-link:is(:hover, :focus) {
        color: #404BBF;
    }

    .header-open-btn {
        display: none;
    }

    .mob-menu {
        margin-right: 120px;
        margin-bottom: 0;
    }


    .mob-menu-link {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
    }

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office-tab.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office-tab-2x.jpg);
        }
    }

    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }

.feature{
    padding: 96px 0;
}

    .feature-list {
        gap: 24px;
        row-gap: 72px;
    }

    .feature-subtitle {
        text-align: left;
        letter-spacing: 0.02em;

    }

    .feature-item {
        width: calc((100% - 24px) /2);
    }

    .team-list {
        max-width: 584px;
        gap: 24px;
        row-gap: 64px;
        margin: 0 auto;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
    }

.customers-container{
    max-width: 584px;
}

    .customers-list {
        gap: 24px;
    }

    .customers-item {
        width: 168px;
        width: calc((100%-48px)/3);
    }


    .footer-conteiner {
        flex-direction: row;
        flex-wrap: wrap;
       max-width: 584px;

    }

    .footer-logo-container {
        text-align: left;
        margin-right: 24px;
        margin-bottom: 72px;
    }

    .footer-text {
        width: 264px;
    }

    .footer-form {
        flex-direction: row;
    }

    .sociallink-text {
        text-align: left;
    }

    .footer-sociallink {
        margin-bottom: 110px;
        
    }

    .footer-modal {
        display: flex;
    }

    .footer-modal-text {
        text-align: left;
    }


    .footer-input{
        width: 264px;
    }

    .modal {
        width: 408px;
        min-height: 584px;
    }

}


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }


    .header-logo {
        margin-right: 76px;
    }


    .header-address-list {
        display: flex;
    }

    .hero {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office-2x.jpg);
        }
    }

    .hero-title {
        margin-bottom: 48px;
    }

    .feature {
        padding: 120px 0;
    }

    .feature-subtitle {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
    }

    .feature-item {
        width: calc((100% - 24px*3) /4);
    }

    .feature-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .feature-item-text {
        font-weight: 400;
    }


.team {
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-list {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
    padding: 0;
    max-width: 1128px;
}

.team-socials-link:is(:hover, :focus) {
    background-color: #404bbf;
}

    .team-item {
        width: calc((100% - 72px) / 4);
    }

    .product {
        display: flex;
        background: var(--main-text-color);
        padding-bottom: 120px;
    }

    .product-title {
        margin: 0 auto;
        margin-bottom: 72px;
    }

    .product-list {
        display: flex;
        gap: 24px;
        height: auto;
    }

    .product-item {
        width: calc((100% - 48px) /3);
    }



    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers-item {
        width: calc((100%-24px)/6);
    }

    .customers-link:is(:hover, :focus) {
        border-color: #404BBF;
        color: #404BBF;
    }

.footer {
    padding: 100px 0;
}

.footer-conteiner {
    flex-wrap: nowrap;
    display: flex;
    align-items: baseline;
}

.footer-logo-container {
    display: block;
    margin-right: 120px;
    margin-bottom: 0;
}


.footer-sociallink {
    margin-right: 80px;
    margin-bottom: 0;
}


.footer-socials-list {
    display: flex;
    gap: 16px;
}


.footer-socials-link:is(:hover, :focus) {
    background-color: #31D0AA;
}

.footer-modal {
    display: block;

}

.footer-form {
    display: flex;
    gap: 24px;
}


.footer-form-btn {
    padding: 8px 24px;
   
}
   
}